*.db
*.dbxml
*-packed.css
*-packed.js
*.mo
*.png
!sprite.png
*.pyc
*.swp
*.xcf

__db.*
log.*

configs/fabric.py
configs/production.py

docs/_build/
!docs/_static/*.png

tzos/ui_strings.py

#
# Production stuff
#

backups/
env/
logs/

tzos/production.py
tzos/tzos.wsgi
tzos/static/jquery.js
