*.db
*.dbxml
*-packed.css
*-packed.js
*.mo
*.png
!sprite.png
*.pyc
*.swp
*.xcf

__db.*
log.*

configs/__init__.py
configs/fabric.py
configs/production.py

backups/
bootstrap/

tzos/production.py
tzos/tzos.wsgi

tzos/ui_strings.py

env/
logs/
