{% extends "layout.html" %}

{% from "macros/_util.html" import render_comments %}

{% block title %}[[ super() ]][[ _('Online System for Terminology Service') ]]{% endblock %}

{% block intro_title %}[[ _('Welcome') ]]{% endblock %}
{% block intro_text %}[[ _('TZOS is an online community for building and sharing terminology.') ]]{% endblock %}

{% block content %}
<form class="f1 simpleSearch" action="[[ url_for('search.quick') ]]" method="GET">
    {% include "search/core.html" %}
    <p><i class="iSrch">[search]</i><a href="[[ url_for('search.quick') ]]">[[ _("Advanced search") ]]</a></p>
</form>
<div class="activity columns">
    <div class="half">
        <h2 class="h4">[[ _("Latest additions") ]]</h2>
    </div>
    <div class="comments half">
        <h2 class="h4">[[ _("Latest comments") ]]</h2>
        {% if latest_comments %}
        [[ render_comments(latest_comments) ]]
        {% else %}
        <p>[[ _("No comments yet.") ]]</p>
        {% endif %}
    </div>
</div>
{% endblock %}
