<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <title>{% block title %}TZOS — {% endblock %}</title>
    </head>
    <body>
        <header class="content">
            <a href="{{ url_for('frontend.index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" /></a>
            <nav class="in">
                <ul class="in flRight">
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Log in') }}</a></li>
                    <li><a href="{{ url_for('auth.register') }}">{{ _('Register') }}</a></li>
                </ul>
            </nav>
            <section id="searchbox" class="flRight clRight">
                <input type="text" id="search" />
            </section>
        </header>
        <section id="glossary">
            <div class="content menu">
                <ul class="in">
                    {% for letter in ['all', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'ñ', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'] %}
                    <li><a href="#">{{ letter }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="body" class="content">{% block body %}{% endblock %}</section>
        <footer>
            <section id="languages" class="content">
                <ul class="in flLeft">
                    <li>English</li>
                    <li>Euskara</li>
                    <li>Castellano</li>
                </ul>
            </section>
        </footer>
    </body>
</html>
