<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}" />
        <title>{% block title %}TZOS — {% endblock %}</title>
    </head>
    <body>
        <header class="content">
            <a href="{{ url_for('frontend.index') }}"><img src="{{ url_for('.static', filename='img/logo.png') }}" /></a>
            <nav class="in">
                <ul class="in flRight">
                    <li><a href="{{ url_for('auth.login') }}">{{ _('Log in') }}</a></li>
                    <li><a href="{{ url_for('auth.register') }}">{{ _('Register') }}</a></li>
                </ul>
            </nav>
            <section id="searchbox" class="flRight clRight">
                <input type="text" id="search" />
            </section>
        </header>
        <section id="glossary">
            <div class="content menu">
                <ul>
                    {% for letter in ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'ñ', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'] %}
                    <li{% if loop.first %} class="first"{% endif %}><a href="#">{{ letter }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="body" class="content">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="flash{% if category %} flash{{ category|title }}{% endif %}">
                {% if category == 'error' %}
                <h1 class="in h3">{{ _('Error') }}</h1>
                {% endif %}
                <p class="in">{{ message }}</p>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        </section>
        <footer>
            <section id="locales" class="content">
                <ul class="in flLeft aDark">
                    {% for lang_code, lang_name in langs %}
                    <li>{% if lang_code == g.lang %}<span class="current">{{ lang_name }}</span>{% else %}<a href="{{ url_for('frontend.index', lang=lang_code) }}">{{ lang_name }}</a>{% endif %}</li>
                    {% endfor %}
                </ul>
            </section>
        </footer>
    </body>
</html>
