{% macro render_errors(field) %}
{% if field.errors %}
<ul class="errors">
    {% for error in field.errors %}
    <li>[[ error ]]</li>
    {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro render_field(field, tag='li', tag_class=None, labeled=True) %}
{% if field.type == 'SubmitField' %}
<p class="fAction">
    [[ field(class="button") ]]
</p>
{% else %}
    <[[ tag ]]{% if tag_class %} class="[[ tag_class ]]"{% endif %}>
    {% if field.type == 'BooleanField' %}
        [[ field(class="in")|safe ]]
        [[ field.label(class="in") ]]
    {% else %}
        {% if labeled %}
        [[ field.label ]]
        {% endif %}
        [[ render_errors(field) ]]
        [[ field(**kwargs)|safe ]]
    {% endif %}
    </[[ tag ]]>
{% endif %}
{% endmacro %}

{% macro render_form(form, action='.', form_class="f1") %}
<form method="POST" action="[[ action ]]" class="[[ form_class ]]">
    [[ form.hidden_tag() ]]
    <ul>
        {% for field in form if not field.type == 'SubmitField' and
                                not field.type == 'HiddenField' %}
        [[ render_field(field, class="input") ]]
        {% endfor %}
    </ul>
    [[ render_field(form.submit) ]]
</form>
{% endmacro %}
