{% macro render_pagination(pagination, endpoint) %}
{% if pagination.pages > 1 %}
<ul class="pagination">
  {%- for page in pagination.iter_pages() %}
  <li>
    {% if page %}
      {% if page != pagination.page %}
        <a href="[[ url_for2(endpoint, p=page) ]]">[[ page ]]</a>
      {% else %}
        <span class="current">[[ page ]]</span>
      {% endif %}
    {% else %}
      <span class="ellipsis">…</span>
    {% endif %}
  </li>
  {%- endfor %}
</ul>
{% endif %}
{% endmacro %}


{% macro render_comments(comments, gravatar=True, username=True) %}
<ul>
    {%- for c in comments %}
    <li id="comment-[[ c.id ]]">{% if gravatar %}<a href="[[ url_for('user.profile', username=c.author.username) ]]" title="[[ _("%(user)s's profile", user=c.author.username) ]]"><img class="fl" src="[[ c.author.gravatar_url(32) ]]" /></a>{% endif %}{% if username %}<strong><a href="[[ url_for('user.profile', username=c.author.username) ]]" title="[[ _("%(user)s's profile", user=c.author.username) ]]">[[ c.author.username ]]</a></strong>{% endif %}<span class="weak small datetime">[[ c.date_created|datetimeformat(_('d/M/yyyy HH:mm')) ]]</span><span class="permalink"><a href="[[ c.permalink ]]">[[ _('Permalink') ]]</a></span><br />[[ c.comment ]]</li>
    {%- endfor %}
</ul>
{% endmacro %}


{% macro term_link(term) %}
<a href="[[ url_for('terms.detail', id=term.id) ]]">[[ term.term ]]</a>
{% endmacro %}

{% macro render_term(term, show_details=False, show_actions=False) %}
<div class="term">
    <h2 class="term">[[ term_link(term) ]]</h2>
    {%- if term.subject_field %}
    <p class="meta weak">{% for field in term.subject_field %}<span>[[ _t(field) ]]</span>{% if not loop.last %}, {% endif %}{% endfor %}</p>
    {%- endif %}

    {%- if term.synonyms %}
    <dl class="syn">
        <dt class="in"><abbr class="small" title="[[ _('Synonyms') ]]">[[ _('syn.') ]]</abbr></dt>
        <dd class="in">{% for syn in term.synonyms %}<a href="[[ syn.url ]]">[[ syn.term ]]</a>{% if not loop.last %}, {% endif %}{% endfor %}</dd>
    </dl>
    {%- endif %}

    {%- if term.translations %}
    <dl class="trans">
    {% for lang in term.translations %}
    <dt>[[ lang ]]</dt>
    <dd lang="[[ lang ]]">{% for trans in term.translations[lang] %}<a href="[[ trans.url ]]">[[ trans.term ]]</a>{% if not loop.last %}, {% endif %}{% endfor %}</dd>
    {% endfor %}
    </dl>
    {%- endif %}

    {%- if show_details %}

    {%- if term.definition %}
    <p class="def">[[ term.definition ]]</p>
    {%- endif %}
    {%- if term.explanation %}
    <p class="expl">[[ term.explanation ]]</p>
    {%- endif %}
    {%- if term.context %}
    <p class="ctx"><q>[[ term.context ]]</q></p>
    {%- endif %}
    {%- if term.example %}
    <p class="example">[[ term.example ]]</p>
    {%- endif %}

    {%- if term.term_type %}
    <p>[[ _t(term.term_type) ]]</p>
    {%- endif %}
    {%- if term.part_of_speech %}
    <p>[[ _t(term.part_of_speech) ]]</p>
    {%- endif %}
    {%- if term.normative_authorization %}
    <p>[[ _t(term.normative_authorization) ]]{% if term.normative_authorization_org %} ([[ term.normative_authorization_org ]]){% endif %}</p>
    {%- endif %}
    <p>[[ _('Origin:') ]] [[ term.concept_origin_display ]] <span class="weak">([[ term.originating_person_display ]])</span></p>
    {% if term.product_subset %}
    <p>[[ _('Appears in:') ]] [[ _t(term.product_subset) ]]</p>
    {% endif %}
    {% if term.subordinate_concept_generic %}
    <p>[[ _('Hyponym:') ]] [[ term.subordinate_concept_generic ]]</p>
    {% endif %}
    {% if term.superordinate_concept_generic %}
    <p>[[ _('Hypernym:') ]] [[ term.superordinate_concept_generic ]]</p>
    {% endif %}
    {% if term.antonym_concept %}
    <p>[[ _('Antonym:') ]] [[ term.antonym_concept ]]</p>
    {% endif %}
    {% if term.related_concept %}
    <p>[[ _('Related concept:') ]] [[ term.related_concept ]]</p>
    {% endif %}
    {% if term.cross_reference %}
    <p>[[ _('See also:') ]] [[ term.cross_reference ]]</p>
    {% endif %}

    {% if term.administrative_status %}
    <p>[[ _('Administrative status:') ]] [[ _t(term.administrative_status) ]]</p>
    {% endif %}

    {%- endif %}

    {%- if show_actions %}
    <ul class="termActions in small">
        {% if g.user %}
        <li><a href="[[ url_for('terms.add', lang=term.language, term=term.term) ]]">[[ _('Add synonym/translation') ]]</a></li>
        {% if g.user.owns_term(term.id) or g.user.is_moderator %}
        <li><a href="[[ url_for('terms.edit', id=term.id) ]]">[[ _('Edit term') ]]</a></li>
        {% endif %}
        {% endif %}
    </ul>
    {%- endif %}
</div>
{% endmacro %}
