{% macro render_transaction(type, date, username, note=None) %}
<transacGrp>
    <transac type="transactionType">{{ type }}</transac>
    <date>{{ date }}</date>
    <transacNote type="responsibility">{{ username }}</transacNote>
    <note>{% if note %}{{ note }}{% endif %}</note>
</transacGrp>
{% endmacro %}

{% macro render_multiple(tag, type, items) %}
{%- for item in items %}
<{{ tag }} type="{{ type }}">{{ item }}</{{ tag }}>
{%- else %}
<{{ tag }} type="{{ type }}" />
{%- endfor %}
{% endmacro %}
