{% extends "layout.html" %}

{% block title %}[[ super() ]][[ _('Advanced search') ]]{% endblock %}

{% block intro_title %}[[ _('Advanced search') ]]{% endblock %}
{% block intro_text %}[[ _('Search the needle on the haystack.') ]]{% endblock %}

{% block content %}
<form class="f1 advancedSearch" action="[[ url_for('search.advanced') ]]" method="POST">
    <div class="coreFields">
    [[ form.keywords(class="input in", placeholder=form.keywords.label.text) ]]
    [[ form.language(class="input in") ]]
    <p class="in">
    [[ form.submit(class="button") ]]
    </p>
    </div>
    <p class="clLeft showme" style="display:none;"><i class="iBRarr">[arrow]</i><a href="#" class="showHide">[[ _("Show advanced fields") ]]</a></p>
    <div class="extra hideme">
    </div>
</form>
{% endblock %}
