{% extends "layout.html" %}
{% from "macros/_forms.html" import render_field %}

{% block title %}{{ super() }}{{ _('Change your password') }}{% endblock %}

{% block intro_title %}{{ _('Change your password') }}{% endblock %}
{% block intro_text %}{{ _('Please fill in the form below to change your password.') }}{% endblock %}

{% block content %}
<form method="POST" action="." class="f1">
    {{ form.hidden_tag() }}
    <div style="display:none;">
        {{ form.activation_key }}
    </div>
    <ul>
        {{ render_field(form.password, class="input") }}
        {{ render_field(form.password_again, class="input") }}
    </ul>
    <p class="fAction">
        {{ form.submit(class="button") }}
    </p>
</form>
{% endblock %}
