{% extends "layout.html" %}
{% from "macros/_forms.html" import render_field %}

{% block title %}{{ super() }}{{ _('Recover your password') }}{% endblock %}

{% block intro_title %}{{ _('Recover your password') }}{% endblock %}
{% block intro_text %}{{ _('Please fill in the form below to request a password recovery.') }}{% endblock %}

{% block content %}
<form method="post" action="." class="f1">
    {{ form.hidden_tag() }}
    <ul>
        {{ render_field(form.email, class="input") }}
    </ul>
    <p>
        {{ form.submit(class="button") }}
    </p>
</form>
{% endblock %}
