{% extends "layout.html" %}
{% from "macros/_forms.html" import render_field, render_form %}

{% block title %}{{ super() }}{{ _('Your account') }}{% endblock %}

{% block intro_title %}{{ _('Account settings') }}{% endblock %}
{% block intro_text %}{{ _('You can change the settings related to your account below.') }}{% endblock %}

{% block content %}
<div class="hTabs">
    <ul class="inlineTabs sideTabs">
        <li><a href="#edit_profile">{{ _("Public profile") }}</a></li>
        <li><a href="#edit_email">{{ _("Email address") }}</a></li>
        <li><a href="#edit_password">{{ _("Password") }}</a></li>
    </ul>

    <div id="edit_profile" class="tabContent">
        <div class="columns">
            <div class="column main">
                <div class="fields">
                    <form method="post" action="{{ url_for('account.settings', action='editprofile') }}" class="f1">
                        {{ profileform.hidden_tag() }}
                        <ul>
                            {% for field in profileform if not field.type == 'SubmitField' and not field.type == 'HiddenField' %}
                            {{ render_field(field, class="input") }}
                            {% endfor %}
                        </ul>
                        <div class="gravatar">
                            <img class="i48" src="{{ g.user.gravatar_url() }}" /></a>
                            <p><strong>{{ _('Change your avatar at <a href="http://gravatar.com">gravatar.com</a>') }}</strong><span class="p6 weak">{{ _('We are using %(user_email)s', user_email=g.user.email) }}</span></p>
                        </div>
                        <p class="fAction">
                            {{ profileform.submit(class="button") }}
                        </p>
                    </form>
                </div>
            </div>
            <div class="column sidebar">
                <p class="p5 weak">{{ _('This information will be displayed on your <a href="%(profile_url)s">public profile page</a>.', profile_url=url_for('frontend.index')) }}</p>
            </div>
        </div>
    </div>

    <div id="edit_email" class="tabContent">
        <div class="columns">
            <div class="column main">
                <div class="fields">
                {{ render_form(emailform, action=url_for('account.settings', action='editemail')) }}
                </div>
            </div>
            <div class="column sidebar">
                <p class="p5 weak">{{ _('Make sure you have set a valid email address — it is used for password recovery.') }}</p>
                <p class="p5 weak">{{ _('Your avatar will be retrieved from <a href="http://gravatar.com">gravatar.com</a> based on your email address.') }}</p>
            </div>
        </div>
    </div>

    <div id="edit_password" class="tabContent">
        <div class="columns">
            <div class="column main">
                <div class="fields">
                {{ render_form(passwordform, action=url_for('account.settings', action='editpassword')) }}
                </div>
            </div>
            <div class="column sidebar">
                <p class="p5 weak">{{ _('Type your new password and confirm it.') }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
