{% extends "layout.html" %}

{% from "macros/_forms.html" import render_field %}

{% block title %}[[ super() ]][[ _('Add terms') ]]{% endblock %}

{% block intro_title %}[[ _('Add terms') ]]{% endblock %}
{% block intro_text %}[[ _('Add terms manually or by uploading files in any of the supported formats.') ]]{% endblock %}

{% block content %}
<div class="hTabs">
    <ul class="inlineTabs sideTabs">
        <li><a href="#add_manually">[[ _("Manually") ]]</a></li>
        <li><a href="#add_from_file">[[ _("From file") ]]</a></li>
    </ul>

    <div id="add_manually" class="tabContent">
        <div class="column">
            <form method="POST" action="[[ url_for('terms.add', mode='manual') ]]" class="f1 addTerm">
                [[ form.hidden_tag() ]]
                <ul>
                    [[ render_field(form.term, class="input") ]]
                    [[ render_field(form.language, class="input") ]]
                    [[ render_field(form.subject_field, class="input") ]]
                    [[ render_field(form.concept_origin, class="input") ]]
                    [[ render_field(form.element_working_status, class="input") ]]
                </ul>
                <ul class="clBoth">
                    [[ render_field(form.not_mine) ]]
                    [[ render_field(form.originating_person, class="input", labeled=False) ]]
                </ul>
                <p class="clBoth showme" style="display:none;"><i class="iBRarr">[arrow]</i><a href="#" class="showFields" rel="tipsy-ns" title="[[ _("Show optional fields for more advanced use cases.") ]]">[[ _("Show advanced fields") ]]</a></p>
                <ul class="extraFields hideme">
                    [[ render_field(form.context, class="input") ]]
                    [[ render_field(form.cross_reference, class="input") ]]
                    [[ render_field(form.definition, class="input") ]]
                    [[ render_field(form.entry_source, class="input") ]]
                    [[ render_field(form.example, class="input") ]]
                    [[ render_field(form.explanation, class="input") ]]

                    [[ render_field(form.product_subset, class="input") ]]

                    [[ render_field(form.normative_authorization, class="input") ]]
                    [[ render_field(form.part_of_speech, class="input") ]]
                    [[ render_field(form.subordinate_concept_generic, class="input") ]]
                    [[ render_field(form.superordinate_concept_generic, class="input") ]]
                    [[ render_field(form.antonym_concept, class="input") ]]
                    [[ render_field(form.related_concept, class="input") ]]
                </ul>
                <p class="fAction hr">
                    [[ form.submit(class="button") ]]
                </p>
            </form>
        </div>
    </div>
    </div>

    <div id="add_from_file" class="tabContent">
        <div class="columns">
            <div class="column main">
                <div class="fields">
                </div>
            </div>
            <div class="column sidebar">
            </div>
        </div>
    </div>

</div>
{% endblock %}
