{% extends "layout.html" %}

{% from "macros/_forms.html" import render_field %}

{% block title %}[[ super() ]][[ _('Add terms') ]]{% endblock %}

{% block intro_title %}[[ _('Add terms') ]]{% endblock %}
{% block intro_text %}[[ _('Add terms manually or by uploading files in any of the supported formats.') ]]{% endblock %}

{% block content %}
<div class="hTabs">
    <ul class="inlineTabs sideTabs">
        <li><a href="#add_manually">[[ _("Manually") ]]</a></li>
        <li><a href="#add_from_file">[[ _("From file") ]]</a></li>
    </ul>

    <div id="add_manually" class="tabContent">
        <div class="column">
            <form method="POST" action="[[ url_for('terms.add_single') ]]" class="f1 addTerm">
                [[ add_form.hidden_tag() ]]
                <ul class="fields">
                    [[ render_field(add_form.term, class="input") ]]
                    [[ render_field(add_form.language, class="input") ]]
                    {% set placeholder = _("Select…") %}
                    [[ render_field(add_form.subject_field, class="input", tag_class="singleLine m3", title=placeholder) ]]
                    [[ render_field(add_form.concept_origin, class="input", tag_class="singleLine") ]]
                    [[ render_field(add_form.working_status, class="input", tag_class="singleLine") ]]
                </ul>
                <ul class="fields clLeft">
                    [[ render_field(add_form.syntrans, class="input", tag_class="showSyntrans singleLine") ]]
                    [[ render_field(add_form.syntrans_term, class="input", tag_class="hideme") ]]
                    [[ render_field(add_form.syntrans_lang, class="input", tag_class="hideme") ]]
                </ul>
                <ul class="fields clLeft">
                    [[ render_field(add_form.not_mine, tag_class="showSource") ]]
                    [[ render_field(add_form.originating_person, tag_class="hideme", class="input") ]]
                </ul>
                <p class="clLeft showme" style="display:none;"><i class="{% if add_form.errors %}iBDarr{% else %}iBRarr{% endif %}">[arrow]</i><a href="#" class="showHide">[[ _("Advanced fields") ]]</a></p>
                <div class="extra hideme{% if add_form.errors %} doNotHide{% endif %}">
                    <h2 class="h4 m4 clBoth">[[ _("Optional fields") ]]</h2>
                    <ul class="fields">
                        [[ render_field(add_form.definition, class="input", rel="tipsy-ns") ]]
                        [[ render_field(add_form.context, class="input", rel="tipsy-ns") ]]
                        [[ render_field(add_form.example, class="input", rel="tipsy-ns") ]]
                        [[ render_field(add_form.explanation, class="input", rel="tipsy-ns") ]]
                        [[ render_field(add_form.entry_source, class="input", rel="tipsy-ns") ]]
                        [[ render_field(add_form.cross_reference, class="input", rel="tipsy-ns") ]]

                        [[ render_field(add_form.product_subset, class="input") ]]
                    </ul>
                    <h2 class="h4 m4 clBoth">[[ _("Linguistic information") ]]</h2>
                    <ul class="fields">
                        [[ render_field(add_form.normative_authorization, class="input") ]]
                        [[ render_field(add_form.normative_authorization_org, class="input") ]]
                        [[ render_field(add_form.subordinate_concept_generic, class="input") ]]
                        [[ render_field(add_form.superordinate_concept_generic, class="input") ]]
                        [[ render_field(add_form.antonym_concept, class="input") ]]
                        [[ render_field(add_form.related_concept, class="input", rel="tipsy-ns") ]]
                        [[ render_field(add_form.part_of_speech, class="input") ]]
                        [[ render_field(add_form.term_type, class="input") ]]
                    </ul>
                </div>
                <p class="fAction hr">
                    [[ add_form.submit(class="button") ]]
                </p>
            </form>
        </div>
    </div>
    </div>

    <div id="add_from_file" class="tabContent">
        <div class="columns">
            <div class="column main">
                <div class="fields">
                </div>
            </div>
            <div class="column sidebar">
            </div>
        </div>
    </div>

</div>
{% endblock %}
