{% extends "layout.html" %}

{% from "macros/_forms.html" import render_form %}
{% from "macros/_util.html" import render_comments %}
{% from "macros/_util.html" import render_term with context %}

{% block title %}[[ super() ]][[ term.term ]]{% endblock %}

{% block intro %}{% endblock %}

{% block content %}
[[ render_term(term) ]]

{% if g.user %}
<h2 class="h4 hr">[[ _('Add a comment') ]]</h2>
{% set form_action = url_for('terms.add_comment', term_id=term.id) %}
[[ render_form(comment_form, action=form_action, labeled=False) ]]
{% endif %}

<h2 class="h4{% if not g.user %} hr{% endif %}">[[ _('Comments (%(count)d)', count=term_comments|count) ]]</h2>
{% if term_comments %}
<p>[[ _('Read what people have said about this term.') ]]</p>
{% else %}
<p>[[ _('No comments yet.') ]]</p>
{% endif %}
{% if term_comments %}
<div class="comments">
    [[ render_comments(term_comments) ]]
</div>
{% endif %}

{% endblock %}
