{% extends "layout.html" %}

{% from "macros/_forms.html" import render_field %}

{% block title %}[[ super() ]][[ _('Edit term') ]]{% endblock %}

{% block intro %}{% endblock %}

{% block content %}
<h2 class="h1 m4">[[ term.term ]] <span class="weak">([[ term.language ]])</span></h2>

<form method="POST" action="[[ url_for('terms.edit', **request.view_args) ]]" class="f1 editTerm">
[[ form.hidden_tag() ]]

<div class="hTabs">
    <ul class="inlineTabs sideTabs">
        <li><a href="#general">[[ _("General") ]]</a></li>
        <li><a href="#optional">[[ _("Optional fields") ]]</a></li>
        <li><a href="#linguistic">[[ _("Linguistic information") ]]</a></li>
    </ul>

    <div id="general" class="tabContent">
        <div class="column">
            <ul class="fields">
                [[ render_field(form.subject_field, class="input") ]]
                [[ render_field(form.concept_origin, class="input") ]]
                [[ render_field(form.originating_person, class="input", rel="tipsy-ns") ]]
                {% if (not g.user.is_moderator and not term.is_consolidated()) or
                  (g.user.is_moderator and term.is_public() or term.owner() == g.user.username) or
                  g.user.is_admin %}
                [[ render_field(form.working_status, class="input") ]]
                {% endif %}
            </ul>
        </div>
    </div>

    <div id="optional" class="tabContent">
        <div class="column">
            <ul class="fields">
                [[ render_field(form.definition, class="input") ]]
                [[ render_field(form.context, class="input") ]]
                [[ render_field(form.example, class="input") ]]
                [[ render_field(form.explanation, class="input") ]]
                [[ render_field(form.entry_source, class="input") ]]
                [[ render_field(form.cross_reference, class="input") ]]

                [[ render_field(form.product_subset, class="input") ]]
            </ul>
        </div>
    </div>

    <div id="linguistic" class="tabContent">
        <div class="column">
            <ul class="fields">
                {% if g.user.is_moderator and term.is_public() %}
                [[ render_field(form.administrative_status, class="input") ]]
                {% endif %}
                [[ render_field(form.normative_authorization, class="input") ]]
                [[ render_field(form.normative_authorization_org, class="input") ]]
                [[ render_field(form.subordinate_concept_generic, class="input") ]]
                [[ render_field(form.superordinate_concept_generic, class="input") ]]
                [[ render_field(form.antonym_concept, class="input") ]]
                [[ render_field(form.related_concept, class="input") ]]
                [[ render_field(form.part_of_speech, class="input") ]]
                [[ render_field(form.term_type, class="input") ]]
            </ul>
        </div>
    </div>

    <p class="fAction hr">
    [[ form.submit(class="button") ]]
    </p>

</div>

</form>
{% endblock %}

