{% extends "layout.html" %}

{% from "macros/_forms.html" import render_form %}

{% block title %}[[ super() ]][[ _('Term details') ]]{% endblock %}

{% block intro %}{% endblock %}

{% block content %}
{% if rendered_term %}
    [[ rendered_term|safe ]]
{% else %}
<h2 class="h1">[[ _('Term not found.') ]]</h2>
{% endif %}

{% if g.user %}
<h2 class="h4 hr">[[ _('Add a comment') ]]</h2>
{% set form_action = url_for('terms.add_comment', term_id=term_id) %}
[[ render_form(comment_form, action=form_action, labeled=False) ]]
{% endif %}

<h2 class="h4{% if not g.user %} hr{% endif %}">[[ _('Comments (%(count)d)', count=term_comments|count) ]]</h2>
{% if term_comments %}
<p>[[ _('Read what people have said about this term.') ]]</p>
{% else %}
<p>[[ _('No comments yet.') ]]</p>
{% endif %}
{% if term_comments %}
<div id="comments">
    <ul>
    {% for c in term_comments %}
    <li id="comment-[[ c.id ]]"><a href="[[ url_for('user.profile', username=c.author.username) ]]" title="[[ _("%(user)s's profile", user=c.author.username) ]]"><img class="fl" src="[[ c.author.gravatar_url(32) ]]" /></a><strong><a href="[[ url_for('user.profile', username=c.author.username) ]]" title="[[ _("%(user)s's profile", user=c.author.username) ]]">[[ c.author.username ]]</a></strong><span class="weak small datetime">[[ c.date_created ]]</span><span class="permalink"><a href="[[ c.permalink ]]">[[ _('Permalink') ]]</a></span><br />[[ c.comment ]]</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}
