{% extends "layout.html" %}

{% from "macros/_forms.html" import render_form %}

{% block title %}[[ super() ]][[ _('Term details') ]]{% endblock %}

{% block intro %}{% endblock %}

{% block content %}
{% if rendered_term %}
    [[ rendered_term|safe ]]
{% else %}
<h2 class="h1">[[ _('Term not found.') ]]</h2>
{% endif %}

<h2 class="h4 hr">[[ _('Comments') ]]</h2>
{% if g.user %}
<p class="p5">[[ _('Read what people have said about this term and add your comment!') ]]</p>
{% else %}
<p class="p5">[[ _('Read what people have said about this term.') ]]</p>
{% endif %}
{% if term_comments %}
<div id="comments">
    <ul>
    {% for c in term_comments %}
    <li><a href="[[ url_for('user.profile', username=c.author.username) ]]" title="[[ _("%(user)s's profile", user=c.author.username) ]]"><img class="fl" src="[[ c.author.gravatar_url(32) ]]" /></a><strong><a href="[[ url_for('user.profile', username=c.author.username) ]]" title="[[ _("%(user)s's profile", user=c.author.username) ]]">[[ c.author.username ]]</a></strong><span class="weak small">[[ c.date_created ]]</span><br />[[ c.comment ]]</li>
    {% endfor %}
    </ul>
</div>
{% else %}
<h3 class="h5">[[ _('No comments yet.') ]]</h3>
{% endif %}

{% if g.user %}
{% set form_action = url_for('terms.add_comment', term_id=term_id) %}
[[ render_form(comment_form, action=form_action, labeled=False) ]]
{% endif %}
{% endblock %}
