{% from "macros/_forms.html" import render_field %}
<form method="POST" action="{{ url_for('terms.add') }}" class="f1 uploadTerm" enctype="multipart/form-data">
    {{ upload_form.hidden_tag() }}
    <ul class="fields">
        {% set placeholder = _("Select…") %}
        {{ render_field(upload_form.subject_field, class="input", tag_class="singleLine m3", title=placeholder) }}
        {{ render_field(upload_form.concept_origin, class="input", tag_class="singleLine") }}
        {{ render_field(upload_form.originating_person, rel="tipsy-ns", class="input", tag_class="singleLine") }}
        {{ render_field(upload_form.working_status, class="input", tag_class="singleLine") }}
    </ul>
    <div class="columns">
        <div class="main">
            <noscript>{{ _("You must enable JavaScript in order to set file columns.") }}</noscript>
            <ul>
            {{ render_field(upload_form.file, class="input", tag_class="singleLine") }}
            {{ render_field(upload_form.term_field, class="input") }}
            </ul>
            <label>{{ _("Column contents") }}</label>
            <ul class="otherFields">
                <li style="display:none;">{{ upload_form.other_fields(class="input", tag_class="singleLine") }}<a class="rmCol b"><strong>X</strong></a></li>
            </ul>
            <p><a class="addCol">{{ _("Add column") }}</a></p>
        </div>
        <div class="sidebar">
            <p class="p5 weak">{{ _("Files must be CSV (comma-separated value) files, either with .csv or .txt extension. CSV files can be generated in spreadsheets such as Excel or LibreOffice Calc.") }}</p>
            <p class="p5 weak">{{ _("You must select which fields constitute the file columns.") }}</p>
            <p class="p5 weak">{{ _("Please note that all the terms contained within the uploaded file will be added with the settings specified above. You may want to split file contents before uploading anything.") }}</p>
        </div>
    </div>
    <p class="fAction hr">
        {{ upload_form.submit(class="button") }}
    </p>
</form>
