for $term in collection($collection)//term
where $term[starts-with(lower-case(string()), $letter)] and $term/../..[@xml:lang=$lang]
return
<dl class="term">
    <dt class="termName">{ $term/string() }</dt>
    <dl>
    {
    for $trans in $term/../../..//term
    let $transLang := data($trans/../../@xml:lang)
    where $trans/../..[@xml:lang!=$lang]
    return
    (
        <dt class="langName">{ $transLang }</dt>,
        <dd lang="{ $transLang }">{ $trans/string() }</dd>
    )
    }
    </dl>
</dl>
