/* General styling */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f8f8f8;
    color: #000;
}

body {
    background-color: #fff;
    color: #000;
    font: 14px helvetica, arial, freesans, clean, sans-serif;
}

a {
    color: #f70;
}

a:visited {
    color: #f90;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0 none;
}

li {
    list-style: none;
}

/* Main block level elements */

header {
    height: 70px;
    margin: 0 auto;
    padding: 20px 0 0;
    position: relative;
}

nav ul li {
    padding: 5px 10px;
}

section#searchbox {
    margin-top: 20px;
}

section#glossary {
    background-color: #333;
    border-top: 2px solid #f90;
    height: 30px;
}

section#body {
    margin: 0 auto;
    padding: 0 15px;
}

footer {
    background-color: #f8f8f8;
    border-top: 1px solid #f1f1f1;
    font-size: 12px;
    margin-top: 20px;
    padding: 20px 0 50px;
    position: relative;
}

section#locales {
    background: url('img/langs.png') no-repeat scroll 0 0 transparent;
    padding: 0 0 0 20px;
    overflow: auto;
}

/* General classes */

.content {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 900px;
}

span.current {
    font-weight: bold;
}

.in, ul.in li {
    display: inline;
}

ul.in li {
    margin-right: 10px;
}

.aDark a {
    color: #554;
}

/* Clears and floats */

.flLeft {
    float: left;
}

.flRight {
    float: right;
}

.clBoth {
    clear: both;
}

.clLeft {
    clear: left;
}

.clRight {
    clear: right;
}

/* Glossary menu */

.menu ul li {
    background-color: #333;
}

.menu li {
    float: left;
}

.menu a {
    border-right: 1px solid #4d4d4d;
    color: #fff;
    display: block;
    height: 30px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
}

.menu .first a {
    border-left: 1px solid #4d4d4d;
}

.menu a:hover {
    background-color: #444;
    text-decoration: none;
}

/* HTML5 compatibility */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
