/*!
 * BASSE
 * https://github.com/illarra/basse
 */

/* Headings */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}
.h1, h1 { font-size:2.6em; color:#07c; /* custom */ margin-right:0.5em; }
.h2, h2 { font-size:1.9em; }
.h3, h3 { font-size:1.6em; }
.h4, h4 { font-size:1.3em; }
.h5, h5 { font-size:1.1em; }
.h6, h6 { font-size:1.1em; }

/* Paragraphs
The first two levels can be customized with colors,
font-families and more: they are 'free for design'.
The others, preferably not.
*/
.p1 { font-size:1.3em; font-family:"Georgia",serif; color:#07c; }
.p2 { font-size:1.2em; line-height:1.35; }
.p3 { font-size:1.1em; line-height:1.4; }
p { font-size:1em; line-height:1.35; }
.p5 { font-size:.9em; }
.p6 { font-size:.8em; line-height:1.2; }

/* Links */
a {
  color:#07c; text-decoration:underline;
  line-height:inherit; margin:0; padding:0;
}
a:focus { background-color:#ffc; }
a:visited { color:#666; }
a:hover, a:focus { text-decoration:none; }

/* Quotes */
cite {}
q { font-style: italic; }

/* Icons */
.i, i {
  display:inline-block; overflow:hidden;
  line-height:0; font-size:0; color:transparent;
  vertical-align:middle; *vertical-align:middle; /* IE Hack */
  background-image:url('img/sprite.png'); background-repeat:no-repeat;
  height:16px; width:16px;
  cursor:default;
}
.i16 { height:16px; width:16px; }
.i20 { height:20px; width:20px; }
.i32 { height:32px; width:32px; }
.i48 { height:48px; width:48px; }

.iGlobe { background-position:0 -24px; }
.iWDarr { background-position:0 -40px; }
.iBDarr { background-position:-16px -24px; }
.iBRarr { background-position:-16px -40px; }
.iEdit  { background-position:-32px -24px; }
.iAdd   { background-position:-32px -40px; }
.iInfo  { background-position:-48px -24px; }
.iWarn  { background-position:-48px -40px; }
.iOk    { background-position:-64px -24px; }
.iCancel{ background-position:-64px -40px; }
.iSrch  { background-position:-84px -40px; }

/* Buttons */
.tagit-choice, /* this shouldn't be here but that's life */
.b, button, input[type=submit] {
  display:inline-block; cursor:pointer;
  color:inherit; text-decoration:none;
  text-align:center; padding:.35em .7em;
  background:#f5f5f5; border:solid 1px #ccc;
    background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e1e1e1));
    background:-moz-linear-gradient(top, #fff, #e1e1e1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1');
  -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
  vertical-align:middle; white-space:nowrap;
}
.b:hover, button:hover, input[type=submit]:hover,
{ color:#000; border-color:#666; }

/* Tables */
/* ... */
th { font-weight:bold; }

/* List styles
NOTE that IE6 is not fully supported here
*/
ul.icons li, ul.bullets li, ol.decimals li {
  margin-left:21px;
}
ul.icons i:first-child { width:21px; margin-left:-21px; }
ul.icons li { list-style-type:none; }
ul.bullets li { list-style:disc outside; }
ol.decimals li { list-style:decimal outside; }

/* Font weights */
.strong, strong, em { font-weight:bold; }
.normal { font-weight:normal; }
.weak { font-weight:normal; color:#999; border-color:#999; }
.dead { font-weight:normal; color:#ccc; border-color:#ccc; }

/* Font families and styles */
.sans { font-family:"Arial",sans-serif; }
.serif { font-family:"Georgia",serif; }
.monospace, code, pre { font-family:monospace; }
.italic { font-style:italic; }

/* Sub- and superscript */
.sub, sub { font-size:.6em; vertical-align:bottom; }
.sup, sup { font-size:.6em; vertical-align:top; }

/* Text transform */
.uc { text-transform:uppercase; }
.lc { text-transform:lowercase; }
.capital { text-transform:capitalize; }

/* Inline font-size modifiers */
.big, big { font-size:1.5em; }
.small, small { font-size:.8em; }

/* Others */
abbr, acronym {
  border-style:dotted; border-color:inherit; border-width:0 0 1px 0;
  cursor:help;
}
.mark, mark { color:inherit; background-color:#ff6; }

/* Display helpers
NOTE that there is no "hidden" class.
We recomended to use an inline 'style="display:none;"', specially
if you are going to use a JS library like jQuery to .show() or .hide()
the elements afterwards.
*/
.in { display:inline; }
.block { display:block; }
.fl { float:left; }
.fr { float:right; }

/* Clearfix */
/* for compliant browsers */
.clearfix:after {
  display: block;
  clear: both;
  content: '.';
  height: 0;
  visibility: hidden;
}
/* affects only IE7 */
.clearfix {
  min-width: 0;
}
/* targets only IE5-6 and hidden from lowly IEmac \*/
* html .clearfix {
  height: 1%;
}
/* end hide IEmac */

/* Browser hacks */
@-moz-document url-prefix() {
  .tagit-choice, /* this shouldn't be here but that's life */
  .b, button, input[type=submit] { padding:.22em .6em; }
}


/*!
 * TZOS
 */

/* General styling */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #f8f8f8;
    color: #000;
}

body {
    background-color: #fff;
    color: #000;
    font: 14px helvetica, arial, freesans, clean, sans-serif;
}

fieldset, img {
    border: 0 none;
}

li {
    list-style: none;
}

/* Forms */

.form label {
    font-size: 0.9em;
}

label {
    display: block;
}

input, textarea {
    background-color: #fff;
    border-color: #848484 #c1c1c1 #e1e1e1;
    border-style: solid;
    border-width: 1px;
    padding: 0.15em;
}

/* This fixes some quirks with IE */
input[type=radio], input[type=checkbox] {
    background-color: inherit;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;
}

input, select, textarea {
    display: block;
    margin: 0.25em 0 0.75em;
}

textarea {
    resize: vertical;
}

input[type="radio"] {
    float: left;
    margin: 5px 5px 0;
}

input[type="radio"] + label {
    display: inline-block;
    margin: 5px 0;
}

.f1 {
    margin: 0 0 1em;
}

.f1 .input {
    font-size: 1.3em;
    padding: 0.2em;
    width: 65%;
}

.f1 dd .input {
    width: 190px;
    margin-right: 10px;
    float: left;
}

.f1 .button {
    font-size: 1.3em;
    padding: 0.4em 1.1em;
}

.f1 dd .button {
    position: relative;
    top: -2px;
    float: right;
}

/* Centered forms */

.centerWrap {
    display: block;
    margin: 0 auto;
    width: 65%;
}

.centerWrap.w90 {
    width: 90%;
}

.centerWrap .input {
    width: 100%;
}

/* Tables */

.table {
    margin-bottom: 1.5em;
    padding: 0.5em 20px;
}

table {
    background-color: #f8f8f8;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #f5f5f5;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    width: 100%;
}

table tr {
    border-bottom: 1px solid #E5E5E5;
}

table td {
    padding: 0.2em 0.5em;
}

table th {
    background-color: #f0f0f0;
    padding: 0.3em;
}

/* BASSE customizations */

a i, a.i {
    cursor:pointer;
}

header a:link, header a:active, header a:visited,
.menu a:link, .menu a:active, .menu a:visited,
footer a:link, footer a:active, footer a:visited {
    text-decoration: none;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

header a:visited,
#body a:visited {
    color: #07c;
}


/* Margins */

.m4 {
    margin: 0.5em 0 0.25em;
}

.m3 {
    margin: 0.5em 0 1em;
}


/* Main block level elements */

header {
    height: 55px;
    margin: 0 auto;
    padding: 5px 0 0;
    position: relative;
}

header a#logo {
    background-image: url('img/sprite.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    float: left;
    height: 24px;
    width: 100px;
    margin: 13px 20px 0 10px;
}

nav {
    height: 55px;
}

nav ul {
    width: 590px;
    text-align: right;
}

nav ul.in li {
    margin-right: 20px;
}

nav a {
    font-weight: bold;
    line-height: 3.6em;
}

nav a.special {
    padding: 5px 10px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

nav a.admin {
    background-color: #fff;
    color: #d54e21;
}

nav a.register {
    background-color: #07c;
    color: #fff;
}

form.headerSearch {
    border-left: 1px dotted #ccc;
    height: 30px;
    margin-top: 10px;
    padding-left: 20px;
}

form.headerSearch input[type=search] {
    background-image: url('img/sprite.png');
    background-position: -80px -37px;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 25px;
    width: 140px;
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
}

section#glossary {
    background-color: #333;
    border-top: 2px solid #f4ad32;
    height: 30px;
    clear: both;
}

section#body {
    margin: 25px auto;
    padding: 0 15px;
}

footer {
    background-color: #f8f8f8;
    border-top: 1px solid #f1f1f1;
    font-size: 12px;
    margin-top: 20px;
    padding: 20px 0 50px;
    position: relative;
    clear: both;
}

section#locales .iGlobe,
section#about .iInfo {
    margin-right: 5px;
    position: relative;
    top: -1px;
}


/* General classes */

.errorbody {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    width: 920px;
}

.errorbody p {
    margin: 10px;
}

.content {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 920px;
}

span.current {
    font-weight: bold;
}

ul.in li {
    display: inline;
    margin-right: 10px;
}

.aDark a {
    color: #554;
}

/* Clears */

.clBoth {
    clear: both;
}

.clLeft {
    clear: left;
}

.clRight {
    clear: right;
}

/* Misc */

.hr {
    border-top: 1px solid #f1f1f1;
    padding: 15px 0 0;
}

/* Flashes */

.flash {
    background-color: #ffb;
    color: #554;
    margin: 0 -30px 4px;
    padding: 15px 60px;
    text-align: center;
}

.flashError {
    background-color: #c00;
    color: #fff;
}

.flashError h1 {
    color: #fff;
}

.flashWarning {
    background-color: #f4ad32;
    color: #000;
}

.flashSuccess,
.flashWarning {
    font-size: 1.5em;
    font-weight: bold;
}

/* Intro text */

.intro {
    background-color: #f8f8f8;
    margin: 0 0 25px;
    padding: 20px;
}

p.welcome {
    margin: 1em;
}

/* Form errors */

ul.errors {
    color: #c00;
    font-size: 0.9em;
    margin-bottom: 1em;
}

ul.errors li {
    list-style: square inside;
}

/* Glossary menu */

.menu ul li,
.menu .dictList {
    background-color: #333;
}

.menu li {
    float: left;
}

.menu .dict {
    position: absolute;
    right: 0;
}

.menu a {
    border-right: 1px solid #4d4d4d;
    color: #fff;
    display: block;
    height: 30px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
}

.menu .dict a,
.menu .first a {
    border-left: 1px solid #4d4d4d;
}

.menu .dict a {
    font-size: 0.7em;
}

.menu a:focus,
.menu a:hover {
    background-color: #444;
    text-decoration: none;
}

.menu .dictList {
    background-color: #444;
    position: absolute;
    z-index: 9999;
    text-align: right;
    right: 0;
    display: none;
    width: 200%;
}

.menu .dictList li {
    width: 100%;
}

/* Side tabs */

ul.sideTabs {
    float: left;
    margin: 0;
    width: 230px;
    padding-bottom: 10px;
}

ul.sideTabs li {
    margin: 10px 0;
}

ul.sideTabs li a {
    display: block;
    font-size: 1.5em;
    padding: 8px 10px 8px 15px;
    text-decoration: none;
    border: 1px solid #f1f1f1;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

ul.sideTabs li a:hover {
    background-color: #f8f8f8;
}

ul.sideTabs li a.selected {
    background-color: #07c;
    color: #fff!important;
}

section.admin ul.sideTabs li a.selected {
    background-color: #d54e21;
}

.hTabs .tabContent {
    float: right;
    width: 640px;
}

.hTabs .fAction {
    clear: both;
    padding-right: 8%;
    text-align: right;
}

.hTabs .input {
    width: 90%;
}

.tabContent p {
    margin: 10px 0;
}


/* Column-based layouts */

.columns {
    display: block;
}

.columns .main {
    float: left;
    width: 640px;
}

.columns .half {
    float: left;
    width: 450px;
    margin: 0 10px 1.5em 0;
}

.hTabs .columns .main {
    width: 440px;
}

.columns .sidebar {
    float: right;
    width: 250px;
}

.hTabs .columns .sidebar {
    width: 200px;
}

.sidebar .sidebarBlock {
    margin-bottom: 1.5em;
}

.sidebarBlock p {
    margin: 5px 0;
}

.main .fields {
    padding: 10px;
}

/* User profile */

.profileHead {
    padding: 10px 0;
}

.profileHead .action {
    color: #000!important;
    position: absolute;
    right: 15px;
    top: 36px;
}

.vcard dl {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.vcard dl dt {
    float: left;
    color: #999;
    width: 150px;
}

/* Gravatars */

header .gravatar {
    display: inline;
}

#body .gravatar {
    height: 52px;
    margin: 10px 0;
}

#body .gravatar strong {
    display: block;
}

.gravatar img {
    border: 1px solid #ccc;
    vertical-align: middle;
}

header .gravatar img {
    margin-right: 0.3em;
    padding: 1px;
}

#body .gravatar img {
    float: left;
    margin-right: 0.7em;
    padding: 2px;
}

#body .gravatar p {
    padding-top: 10px;
    line-height: 1;
}

/* Terms */

div.term {
    margin: 1em 0 1em 0.5em;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
}

div.term.review {
    min-height: 90px;
}

div.term li {
    margin-right: 0.8em;
    /*line-height: 1.2;*/
}

div.term h2 {
    display: inline;
    font-weight: bold;
    font-size: 1.5em;
}

div.term h3 {
    font-size: 1em;
    margin-bottom: .3em;
}

div.term p.head {
    border-left: 1px dotted #999;
    display: inline;
    font-size: 0.8em;
    padding-left: 0.5em;
}

div.term div.group {
    margin-top: 1em;
}

div.term dt {
    float: left;
    margin-right: 1em;
}

dl.syn dt,
dl.trans dt {
    margin-left: 2em;
    width: 1.5em;
}

div.group dd {
    margin-bottom: 5px;
    margin-left: 9em;
}

div.group dt {
    line-height: 1.8;
    width: 10em;
}

div.group dt,
div.group p.meta {
    font-size: .8em;
}

span.adminSts {
    font-weight: bold;
}

div.termActions {
    -webkit-transition-property: right;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: right;
    -moz-transition-duration: .2s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: right;
    -o-transition-duration: .2s;
    -o-transition-timing-function: ease-in-out;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    line-height: 2;
    position: absolute;
    top: 20px;
    right: -175px;
    width: 200px;
}

div.termActions i {
    margin-left: 5px;
}

div.termActions a {
    margin: 2px 0 0 5px;
}

div.termActions:hover {
    right: -5px;
}

div.term .private {
    background-color: #fff;
    color: #d54e21;
    font-weight: bold;
    margin: 1em;
    padding: 1em;
}

div.term .private i {
    margin-right: 5px;
}

/* More/less details */

span.truncate.showme,
span.truncate.showme > a {
    display: none;
}

span.truncate.more {
    display: block;
}


/* Adding terms */

.f1.addTerm ul.fields > li,
.f1.uploadTerm ul.fields > li,
ul.errors li {
    float: left;
    margin-right: 20px;
    width: 300px;
}

li.eqField {
    float: left!important;
    margin-right: 0!important;
    width: 90%!important;
}

ul.fields > li {
    min-height: 75px;
}

.editTerm ul.fields > li {
    clear: both;
}

div.editTerm > p {
    line-height: 4;
    margin-right: 55px;
}

div.editTerm > h2 {
    margin-bottom: 0.5em;
}

ul li.singleLine {
    width: 95%!important;
    min-height: 40px;
}

ul li.showSource {
    min-height: 40px;
}

ul.otherFields select {
    display: inline-block;
    margin-right: 5px;
    width: 70%;
}

ul.otherFields > li:first-child a.rmCol {
    visibility: hidden;
}

a.addCol, a.addField, a.rmCol, a.rmEq {
    cursor: pointer;
}

p.addMore {
    margin-right: 20px;
    margin-top: -10px;
    text-align: right;
}

.editTerm p.addMore {
    margin-right: 55px;
}

ul.uploadResults li {
    list-style: square;
    margin: 1em 0 1em 2em;
}

ul.uploadResults li.error,
ul.uploadResults li.warning {
    background-color: inherit;
    font-weight: bold;
}

ul.uploadResults li.error {
    color: #c00;
}

ul.uploadResults li.warning {
    color: #f4ad32;
}


/* Pagination */

ul.pagination {
    display: inline-block;
    list-style-type: none;
    margin: 1em;
}

ul.pagination li {
    float: left;
    text-align: center;
}

ul.pagination li span,
ul.pagination li a {
    margin: 0.1em;
    padding: 0.2em 0.5em;
}

ul.pagination li span.current {
    background-color: #07c;
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
}

ul.pagination li a {
    border: 1px solid #07c;
    text-decoration: none;
}

ul.pagination li a:hover {
    background-color: #07c;
    border: 1px solid  #fff;
    color: #fff!important;
}


/* Search */

form.advancedSearch,
form.simpleSearch {
    margin-left: 2em;
}

form.simpleSearch i.iSrch {
    margin-right: 5px;
}

/* Advanced */

.coreFields #q {
    width: 600px;
}

.coreFields #lang {
    width: auto;
}

.coreFields .button {
    vertical-align: baseline;
}

.advancedSearch .extra {
    margin: 1.5em 0;
}
.advancedSearch .extra li {
    float: left;
    width: 50%;
}

.advancedSearch .extra label,
.advancedSearch .extra input {
    float: left;
}

.advancedSearch .extra input[type!="radio"],
.advancedSearch .extra select {
    width: 50%;
}

.advancedSearch .extra label {
    width: 150px;
    line-height: 3;
    margin-right: 10px;
}

.advancedSearch .extra ul#mode li {
    width: 600px;
}

.advancedSearch ul#mode input {
    margin-right: 5px;
}

.advancedSearch ul#mode label {
    line-height: 1.4;
    width: 90%;
}

/* Results */

ul.searchResults > li {
    list-style: square;
    margin-left: 2em;
    line-height: 1.5;
}

/* Comments/Activity */

.homeActivity,
.profileActivity {
    margin-top: 2em;
}

.activity ul,
.comments ul {
    padding: 0.5em;
}

.activity ul li,
.comments ul li {
    border-top: 1px solid #f1f1f1;
    font-size: 0.9em;
    line-height: 1.4;
    padding: 5px 0 5px 42px;
}

.activity.profile ul li,
.comments.profile ul li {
    padding-left: 0;
    border-top: 0 none;
}

.activity ul li img,
.comments ul li img {
    margin-left: -42px;
}

.activity ul li strong,
.activity ul li span.datetime,
.comments ul li strong,
.comments ul li span.datetime {
    margin-right: 5px;
}

.comments ul li span.permalink {
    visibility: hidden;
}

.comments ul li:hover span.permalink {
    visibility: visible;
}

/* Admin */

#edit_permissions dd .input {
    width: 190px;
}

#edit_origins dd .input {
    width: 220px;
}

ul.origins,
ul.sfields,
ul.sources {
    margin: 0.5em 20px 1.5em;
}

ul.origins li,
ul.sfields li,
ul.sources li {
    line-height: 1.5;
    list-style-type: square;
    margin-left: 1em;
}

ul.adminLangs li {
    display: inline;
    float: left;
    margin-right: 20px;
}

ul.adminLangs input#code {
    width: 120px;
}

ul.adminLangs input#name {
    width: 420px;
}

ul.backups {
    margin-bottom: 1.5em;
    padding: 0.5em 20px;
}

ul.backups li {
    list-style-type: square;
}


/* HTML5 compatibility */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


/* Tipsy */

.tipsy {
  font-size: 10px;
  font-family: "Lucida Grande", "Lucida Sans", "Segoe UI", "Calibri", "Sans", Tahoma, Verdana, Arial, Sans-Serif !important;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}

.tipsy-inner {
  background-color: #000;
  color: #FFF;
  max-width: 200px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 8px 4px;
}

.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 1px;
}

.tipsy-n .tipsy-arrow,
.tipsy-nw .tipsy-arrow,
.tipsy-ne .tipsy-arrow {
  top: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.tipsy-s .tipsy-arrow,
.tipsy-sw .tipsy-arrow,
.tipsy-se .tipsy-arrow {
  bottom: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.tipsy-n .tipsy-arrow,
.tipsy-s .tipsy-arrow {
  left: 50%;
}

.tipsy-nw .tipsy-arrow,
.tipsy-sw .tipsy-arrow {
  left: 10px;
}

.tipsy-ne .tipsy-arrow,
.tipsy-se .tipsy-arrow {
  right: 10px;
}

.tipsy-e .tipsy-arrow,
.tipsy-w .tipsy-arrow {
  top: 50%;
  margin-top: -5px;
}

.tipsy-e .tipsy-arrow {
  right: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid black;
  border-bottom: 5px solid transparent;
}

.tipsy-w .tipsy-arrow {
  left: 0;
  border-top: 5px solid transparent;
  border-right: 5px solid black;
  border-bottom: 5px solid transparent;
}

*html .tipsy-e .tipsy-arrow,
*html .tipsy-w .tipsy-arrow {
  border-top-color: pink;
  border-bottom-color: pink;
  filter: chroma(color=pink);
}

*html .tipsy-n .tipsy-arrow,
*html .tipsy-nw .tipsy-arrow,
*html .tipsy-ne .tipsy-arrow,
*html .tipsy-s .tipsy-arrow,
*html .tipsy-sw .tipsy-arrow,
*html .tipsy-se .tipsy-arrow {
  border-left-color: pink;
  border-right-color: pink;
  filter: chroma(color=pink);
}


/* Recaptcha */

#recaptcha_widget_div {
    clear: both;
}


/* tagit */

ul.tagit {
    margin: 0.25em 0 0.75em;
	padding: .2em;
	overflow: auto;
    margin-left: inherit; /* usually we don't want the regular ul margins. */
    margin-right: inherit;
    width: 90%;
}

ul.tagit li {
	display: block;
	float: left;
}

ul.tagit li.tagit-choice {
    font-size: .8em;
    margin-right: .1em;
    position: relative;
    line-height: inherit;
    top: 4px;
}

ul.tagit li.tagit-new {
	padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
	cursor: pointer;
	text-decoration: none;
}

ul.tagit li.tagit-choice span.tagit-label {
    padding-right: 5px;
}

ul.tagit li.tagit-choice .close {
	cursor: pointer;
}

ul.tagit li.tagit-choice .close .text-icon {
    color: #07c;
    font-weight: bold;
}

ul.tagit li.tagit-choice input {
	display: block;
	float: left;
}

ul.tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;

    border: none;
	margin: 0;
	padding: 0;
	width: inherit;
	background-color: inherit;
    outline: none;
}


/* bsmSelect */

.bsmSelect {
  display: inline;
  margin: 0.25em 0 0.1em;
}

.bsmOptionDisabled {
  color: #999;
}

.bsmList {
    display: block;
    list-style: none outside none;
    margin: 0.25em 0;
    padding-left: 0;
}

.bsmListItem {
    float: left;
    margin: 0 5px 5px 0;
    cursor: default;
}

.bsmListItemLabel {
  padding-right: 5px;
}

.bsmListItemRemove {
  text-decoration: none;
}
