{% extends "layout.html" %}
{% from "macros/_forms.html" import render_field %}
{% block title %}{{ super() }}{{ _('Log in') }}{% endblock %}
{% block intro_title %}{{ _('Log in') }}{% endblock %}
{% block intro_text %}{{ _('If you already have an account, you can log in by providing your username and password.') }}{% endblock %}
{% block content %}
<form method="POST" action="." class="f1">
    {{ form.hidden_tag() }}
    <ul>
        {{ render_field(form.login, class="input") }}
        {{ render_field(form.password, class="input") }}
        {{ render_field(form.remember, class="in") }}
    </ul>
    <p>
        {{ form.submit(class="button") }}
    </p>
</form>
{% endblock %}
